$link-text-color: #fff;

.my-button{
  font-family: Varela Round;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-weight: 900;
  background: #2b5876;
  padding: 8px 14px 9px;
  font-size: 15px;
  border-radius: 4px;
  color: white;
  height: 36px;
  transition: all 75ms ease-in-out;
  &:hover{
    box-shadow: 0 1px 10px;
    font-size: 16px;

  }
}

.my-secondary-button{
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  line-height: 1.2rem;
  font-weight: 900;
  background: white;
  padding: 8px 14px 9px;
  font-size: 15px;
  border-radius: 4px;
  color: #3D4D76
  // height: 36px;
  // transition: all 75ms ease-in-out;
  // :hover{
  //     box-shadow: 0 1px 4px;
  // }
}
